absl-py==0.5.0
astor==0.7.1
bleach==1.5.0
contextlib2==0.5.5
cycler==0.10.0
Cython==0.28.5
gast==0.2.0
grpcio==1.15.0
h5py==2.8.0
html5lib==0.9999999
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==3.0.0
nltk==3.4.5
numpy==1.14.5
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
Pillow==5.2.0
protobuf==3.6.1
pycocotools==2.0.0
pyparsing==2.2.2
python-dateutil==2.7.3
six==1.11.0
tensorboard==1.10.0
tensorflow==1.12.2
tensorflow-gpu==1.10.1
termcolor==1.1.0
Werkzeug==0.15.3
